@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in-up {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
.animate-fade-in-up {
    animation: fade-in-up 0.3s ease-out;
}
@media print {
  @page {
    size: A4 portrait;
    margin: 10mm; /* Márgenes del papel */
  }
  body {
    -webkit-print-color-adjust: exact; /* Para que salgan los colores de fondo */
    print-color-adjust: exact;
  }
}
